body {
    background-image: linear-gradient(#9667e0 10%, #d4bbfc, #ebd9fc, #f2ebfb, #fbfaff);
    width: 100%;
}

#header {
    text-decoration: none;
    color: #d4bbfc;
    font-family: 'Fuzzy Bubbles', cursive;
}

#header > .img-fluid {
    filter: drop-shadow(5px 5px 10px #d4bbfc);
}

nav {
    background-image: linear-gradient(to right, #9667e0 40%, #d4bbfc, #ebd9fc, #f2ebfb);
    font-family: 'Fuzzy Bubbles', cursive;
}

nav > div.container-fluid {
    flex-wrap: nowrap;
}

#logo {
    font-size: 20px;
    text-shadow: 2px 2px 5px #d4bbfc;
}

#toggler {
    background-color: #d4bbfc;
    color: #9667e0;
    box-shadow: 3px 3px 5px #9667e0;
}

.nav-link {
    font-size: 100%;
    text-align: center;
    margin-right: 10px;
    color: #9667e0;
    text-shadow: 2px 2px 3px #d4bbfc;
}

.nav-link:hover {
    background-color: #9667e0;
    color: #d4bbfc;
}

#whatsapp {
    position: fixed;
    right: 2%;
    top: 20%;
    background-color: lightgreen;
    z-index: 1000;
}

i.bi-whatsapp {
    font-size: 30px;
}

#whatsapp-text {
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

#whatsapp-link {
    text-decoration: none;
    color: white;
}

#whatsapp:hover {
    background-color: rgb(70, 179, 70);
}

#vision {
    width: 80%;
    background-color: #ebd9fc;
    color: #9667e0;
    font-family: 'Caveat Brush', cursive;
    border: #ebd9fc 3px solid;
}

#carousel-inner {
    width: 80%;
    background-color: #d4bbfc;
}

#mobile-description {
    display: none;
}

.carousel-caption {
    color: white !important;
    text-shadow: 5px 5px 5px black !important;
    border-radius: 10px;
    font-weight: bold;
}

.carousel-caption > h5 {
    font-size: 30px;
    font-family: 'Caveat Brush', cursive;
}

.carousel-caption > p {
    font-family: 'Lato', sans-serif;
    font-size: medium;
}

hr {
    height: 10px;
    width: 95%;
    color: #ebd9fc;
    border: #9667e0 1% solid;
    background-color: #9667e0;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
}

#classes-h1 {
    width: 80%;
    background-color: #d4bbfc;
    color: #9667e0;
    font-family: 'Caveat Brush', cursive;
    border: #ebd9fc 3px solid;
}

#classes {
    justify-content: space-evenly;
}

.col-3 {
    text-align: justify;
    background-color: #9667e0;
    color: #ebd9fc;
}

.col-3 > h1 {
    font-family: 'Caveat Brush', cursive;
}

.col-3 > p {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

#contact-link {
    text-decoration: none;
    color: #f2ebfb;
}

#testimonies {
    width: 80%;
    background-color: #9667e0;
    color: #ebd9fc;
    font-family: 'Caveat Brush', cursive;
    border: #ebd9fc 3px solid;
    text-align: center;
}

#test {
    background-color: #9667e0;
    padding: 15px;
    margin: 15px 0;
    color: #ebd9fc;
    width: 90%;
}

#test {
    height: 200px;
}

#test > .img-fluid {
    max-width: 20%;
}

#test-text {
    border-left: #ebd9fc 3px solid;
    margin-left: 10px;
}

#test-text > h1 {
    font-family: 'Caveat Brush', cursive;
}

#test-text > p {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

#test-text-2 {
    border-right: #ebd9fc 3px solid;
    margin-right: 10px;
}

#test-text-2 > h1 {
    font-family: 'Caveat Brush', cursive;
}

#test-text-2 > p {
    font-family: 'Lato', sans-serif;
    font-size: large;
}

#test-button {
    background-color: #9667e0;
    width: 90%;
}

#test-button:hover {
    background-color: #d4bbfc;
}

#test-button > #button-link {
    display: block;
    text-decoration: none;
    color: #ebd9fc;
}

#button-link:hover {
    color: #9667e0 !important;
}

footer > #footer {
    background-color: #9667e0;
    color: #ebd9fc;
    font-family: 'Fuzzy Bubbles', cursive;
    height: 75px;
}

#social {
    padding-left: 10px;
    font-size: 30px;
}

@media only screen and (max-width:769px) {
    nav > div.container-fluid {
        flex-wrap: wrap;
    }

    #header {
        width: 50%;
    }

    #toggler {
        margin: 0 0;
    }

    #whatsapp {
        font-size: 25px;
        top: 20%;
        right: 5%;
        z-index: 1000;
    }

    #whatsapp-text {
        display: none;
    }

    #carousel-inner {
        width: 100%;
    }

    #classes {
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }

    .col-3 {
        width: 80%;
        text-align: center;
        margin-bottom: 5%;
    }

    #mobile-description {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        color:#ebd9fc;
        text-shadow: 2px 2px 2px black;
    }

    #mobile-description > #second {
        text-align: end;
    }

    #mobile-description > h5 {
        font-family: 'Caveat Brush', cursive;
        font-size: 25px;
    }

    #mobile-description > p {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }

    #test {
        width: 85%;
        height: 200px;
    }

    #test-text > p {
        font-size: 8px;
    }

    #test-text-2 > p {
        font-size: 8px;
    }

    #test > .img-fluid {
        max-width: 50%;
    }

    #test-button {
        background-color: #9667e0;
        width: 100%;
    }

    #footer {
        font-size: 15px;
        padding-top: 10px;
    }
}


@media only screen and (max-width:426px) {
    #header {
        width: 50%;
    }

    #logo {
        font-size: 15px;
    }

    #footer {
        font-size: 12px;
    }
}