@import url(/scss/variables/_variables.scss);
body {
  background-image: linear-gradient(#9667e0 20%, #d4bbfc, #ebd9fc, #f2ebfb, #fbfaff); }

nav {
  background-image: linear-gradient(to right, #9667e0 20%, #d4bbfc, #ebd9fc, #f2ebfb);
  font-family: "Fuzzy Bubbles", cursive; }
  nav #header {
    text-decoration: none;
    background-color: transparent;
    color: #f2ebfb;
    text-shadow: 2px 2px 3px #d4bbfc;
    text-align: center;
    font-size: calc(5px + 1vw);
    margin-right: 10px; }
    nav #header:hover {
      text-decoration: none;
      background-color: transparent;
      color: #d4bbfc;
      text-shadow: 2px 2px 3px #d4bbfc;
      text-align: center;
      font-size: calc(5px + 1vw); }
    nav #header .img-fluid {
      filter: drop-shadow(5px 5px 10px #d4bbfc); }
  nav .nav-link {
    text-decoration: none;
    background-color: transparent;
    color: #9667e0;
    text-shadow: 2px 2px 3px #d4bbfc;
    text-align: center;
    font-size: calc(10px + 1vw);
    margin-right: 10px; }
    nav .nav-link:hover {
      background-color: #9667e0;
      color: #ebd9fc; }

main #whatsapp {
  position: fixed;
  right: 2%;
  top: 20%;
  background-color: lightgreen;
  z-index: 1000;
  font-size: 20px;
  font-family: "Caveat Brush", cursive;
  padding: 8px; }
  main #whatsapp #whatsapp-link {
    text-decoration: none;
    color: white; }
  main #whatsapp #whatsapp-text {
    font-size: 1.5vw; }
  main #whatsapp .bi-whatsapp {
    font-size: 40px; }
  main #whatsapp:hover {
    background-color: #46b346; }

main #vision {
  width: 90%;
  background-color: #ebd9fc;
  color: #9667e0;
  font-family: "Caveat Brush", cursive;
  border: #ebd9fc 3px solid; }

main #mobile-description {
  display: none; }

main #classes-h1 {
  width: 90%;
  background-color: #d4bbfc;
  color: #9667e0;
  font-family: "Caveat Brush", cursive;
  border: #d4bbfc 3px solid; }

main hr {
  height: 10px;
  width: 95%;
  color: #ebd9fc;
  background-color: #9667e0;
  border: #9667e0 1% solid;
  border-radius: 5px;
  margin-top: 25px; }

main #hr-2 {
  height: 10px;
  width: 100%;
  color: #9667e0;
  background-color: #ebd9fc;
  border: #9667e0 1% solid;
  border-radius: 5px;
  margin-top: 25px; }

main #testimonies {
  width: 90%;
  background-color: #9667e0;
  color: #d4bbfc;
  font-family: "Caveat Brush", cursive;
  border: #9667e0 3px solid; }

main #testimonies-2 {
  width: 90%;
  background-color: #d4bbfc;
  color: #9667e0;
  font-family: "Caveat Brush", cursive;
  border: #9667e0 3px solid; }

main #heading {
  width: 90%;
  background-color: #ebd9fc;
  color: #9667e0;
  font-family: "Caveat Brush", cursive;
  border: #ebd9fc 3px solid; }

main #carousel-inner {
  width: 80%;
  background-color: #d4bbfc;
  color: white;
  text-shadow: 5px 5px 5px black; }
  main #carousel-inner .carousel-caption {
    font-family: "Caveat Brush", cursive; }
    main #carousel-inner .carousel-caption h5 {
      font-weight: bold;
      font-size: 30px; }
    main #carousel-inner .carousel-caption p {
      font-size: 20px; }

main div.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; }
  main div.row .col-3 {
    text-align: justify;
    background-color: #9667e0;
    color: #ebd9fc; }
    main div.row .col-3 h2 {
      font-family: "Caveat Brush", cursive; }
    main div.row .col-3 p {
      font-family: "Lato", sans-serif;
      font-size: 15px; }
    main div.row .col-3 button {
      width: 100%;
      background-color: #d4bbfc;
      color: #9667e0;
      border: 1px #f2ebfb solid; }
      main div.row .col-3 button a {
        text-decoration: none;
        color: #9667e0; }
        main div.row .col-3 button a:hover {
          background-color: #f2ebfb;
          color: #d4bbfc;
          display: block; }
      main div.row .col-3 button:hover {
        background-color: #f2ebfb;
        color: #d4bbfc; }

main #test {
  background-color: #9667e0;
  padding: 15px;
  margin: 15px 0;
  color: #ebd9fc;
  width: 90%;
  height: auto; }
  main #test .img-fluid {
    max-width: 20%; }
  main #test #test-text {
    border-left: #ebd9fc 3px solid;
    margin-left: 10px; }
    main #test #test-text h1 {
      font-family: "Caveat Brush", cursive; }
    main #test #test-text p {
      font-family: "Lato", sans-serif;
      font-size: large; }
  main #test #test-text-2 {
    border-right: #ebd9fc 3px solid;
    margin-right: 10px; }
    main #test #test-text-2 h1 {
      font-family: "Caveat Brush", cursive; }
    main #test #test-text-2 p {
      font-family: "Lato", sans-serif;
      font-size: large; }

main #test-button {
  width: 90%;
  background-color: #9667e0;
  color: #ebd9fc;
  border: #f2ebfb 3px solid; }
  main #test-button:hover {
    background-color: #d4bbfc;
    color: #9667e0; }
  main #test-button #button-link {
    display: block;
    text-decoration: none;
    color: #ebd9fc; }
    main #test-button #button-link:hover {
      color: #9667e0; }

main div.card {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  background-color: #ebd9fc;
  color: #9667e0;
  border: #f2ebfb 3px solid; }
  main div.card #Carly {
    object-fit: cover; }
  main div.card h5 {
    font-family: "Caveat Brush", cursive;
    font-size: calc(10px + 1vw); }
  main div.card p {
    font-family: "Lato", sans-serif;
    font-size: calc(5px + 1vw); }
  main div.card a {
    width: 100%;
    background-color: #9667e0;
    color: #ebd9fc;
    border: #ebd9fc 1px solids;
    text-decoration: none; }
    main div.card a:hover {
      background-color: #f2ebfb;
      color: #9667e0; }

main form.row {
  background-color: #9667e0;
  border: #ebd9fc 3px solid;
  padding: 3%; }
  main form.row legend {
    font-family: "Caveat Brush", cursive;
    color: #d4bbfc;
    font-size: calc(25px + 1vw); }
  main form.row input.form-control {
    background-color: #d4bbfc;
    color: #f2ebfb;
    font-family: "Lato", sans-serif;
    justify-content: start;
    height: auto; }
  main form.row select.form-select {
    background-color: #d4bbfc;
    color: gray;
    font-family: "Lato", sans-serif;
    justify-content: start;
    height: auto; }
  main form.row h3 {
    font-family: "Lato", sans-serif;
    color: #d4bbfc;
    font-size: calc(15x + 1vw);
    font-weight: bold; }
  main form.row div.form-check {
    background-color: #9667e0;
    color: #d4bbfc;
    font-family: "Lato", sans-serif;
    justify-content: center;
    height: auto; }
  main form.row textarea.form-control {
    background-color: #d4bbfc;
    color: #9667e0;
    font-family: "Lato", sans-serif;
    justify-content: center;
    height: calc(150px + 1vh); }
  main form.row label.form-label {
    color: #9667e0; }
  main form.row .btn {
    background-color: #d4bbfc;
    color: #9667e0; }
  main form.row .btn[type="submit"]:hover {
    background-color: green !important;
    color: #f2ebfb !important; }
  main form.row .btn[type="reset"]:hover {
    background-color: #cf0000 !important;
    color: #f2ebfb !important; }

footer {
  background-color: #9667e0;
  color: #f2ebfb;
  font-family: "Fuzzy Bubbles", cursive;
  height: auto; }
  footer #social {
    padding-left: calc(5px + 0.5vw);
    font-size: calc(15px + 1vw); }
