$linear_gradient1: linear-gradient(#9667e0 20%, #d4bbfc, #ebd9fc, #f2ebfb, #fbfaff);
$linear_gradient2: linear-gradient(to right, #9667e0 20%, #d4bbfc, #ebd9fc, #f2ebfb);
$linear_gradient3: linear-gradient(to left, #9667e0 10%, #d4bbfc, #ebd9fc, #f2ebfb);
$linear_gradient_mobile: linear-gradient(#9667e0 10%, #d4bbfc, #ebd9fc, #f2ebfb);
$nav_margin: 10px; 
$fuente_titulos: 'Caveat Brush', cursive;
$fuente_encabezados: 'Fuzzy Bubbles', cursive;
$fuente_contenido: 'Lato', sans-serif;