$lista_colores1: #9667e0, #d4bbfc, #ebd9fc, #f2ebfb, #fbfaff;
$lista_colores2: #9667e0, #d4bbfc, #ebd9fc;
$fuente_titulos: 'Caveat Brush', cursive;
$fuente_encabezados: 'Fuzzy Bubbles', cursive;
$fuente_contenido: 'Lato', sans-serif;